manifest {
    name        = 'Bambu-Pipe'
    description = 'Context-aware transcript quantification from long-read single-cell and spatial transcriptomics data'
    author      = 'Andre Sim, Chin Hao Lee, Min Hao Ling'
    version     = 'v0.9-beta'
    mainScript  = 'main.nf'
    nextflowVersion = '>=26.04.0'
}

params {
    // Mandatory input
    input                   = null                          // Path to samplesheet .csv file
    genome                  = null                          // Path to .fa or .fasta file
    annotation              = null                          // Path to .gtf or .gff file
    
    // Optional: Output directory
    output_dir              = "output"                      // Path to output directory

    /*
    Optional: Samplesheet settings (Non Visium HD samples only)
    Note: Use this if all samples share the same chemistry/technology
    */ 
    chemistry               = null                          // Examples: "10x3v2", "10x3v3", "10x5v2", "visium-v1" 
    technology              = null                          // Options: "ONT", "PacBio" 
    
    // Optional: Stop after alignment and save BAM files only
    bam_only                = false                         // boolean

    // Optional: Q-score filtering
    qscore_filtering        = true                          // boolean  

    // Optional: Bambu parameters
    ndr                     = null                          // null or float 
    deduplicate_umis        = true                          // boolean

    // Optional: Quantification mode
    quantification_mode     = "EM_clusters"                 // Options: "no_quant", "EM", "EM_clusters"

    // Optional: Seurat clustering
    resolution              = 0.8                           // float
  
}

includeConfig 'conf/base.config'
includeConfig 'conf/containers.config'
includeConfig 'conf/dev.config'

profiles {
    // Container profiles
	singularity {
        singularity.enabled           = true
        singularity.autoMounts        = true
        docker.enabled                = false  
	    singularity.runOptions        = "--bind ${env('PWD')}"
        singularity.envWhitelist      = "JAVA_HOME"
    }

    docker {
        docker.enabled           = true
        singularity.enabled      = false
	    docker.runOptions        = '-u $(id -u):$(id -g)'
    }

    arm {
            docker.runOptions = '-u $(id -u):$(id -g) --platform=linux/amd64'
        }

    hpc {
        process.executor = 'slurm' // Examples: 'slurm', 'pbs', 'sge'
    }

    // For running on a local machine with small samples only.
    // Not recommended for full-size datasets — memory and CPU limits below will likely cause failures.
    local {
        process.executor = 'local'

        process {
            withLabel: 'low_cpu'    { cpus   = 2     }
            withLabel: 'medium_cpu' { cpus   = 8     }
            withLabel: 'high_cpu'   { cpus   = 16    }
            withLabel: 'low_mem'    { memory = '8.GB'  }
            withLabel: 'medium_mem' { memory = '32.GB' }
            withLabel: 'high_mem'   { memory = '64.GB' }
        }
    }

}

includeConfig 'conf/smoke_test.config'

// Output an html timeline report 
timeline { enabled = true; file = "${params.output_dir}/pipeline_info/execution_timeline.html" }

// Output resource and runtime reports for a workflow run
report   { enabled = true; file = "${params.output_dir}/pipeline_info/execution_report.html" }

// Output process execution trace file
trace    { enabled = true; file = "${params.output_dir}/pipeline_info/execution_trace.txt" }

// Produce a workflow diagram
dag      { enabled = true; file = "${params.output_dir}/pipeline_info/pipeline_dag.svg" }