params {
    // Mandatory input
    input                   = null                          // Path to samplesheet .csv file
    genome                  = null                          // Path to .fa or .fasta file
    annotation              = null                          // Path to .gtf or .gff file
    
    // Optional: Output directory
    output_dir              = "output"                      // Path to output directory

    // Optional: Samplesheet settings (Use this if all samples have the same chemistry/technology/barcode_map)
    chemistry               = null                          // Examples: "10x3v2", "10x3v3", "10x5v2", "visium-v1" 
    technology              = null                          // Options: "ONT", "PacBio" 
    
    // Optional: Q-score filtering
    qscore_filtering        = true                          // boolean  

    // Optional: Bambu parameters
    ndr                     = null                          // null or float 
    process_by_chromosome   = true                          // boolean
    deduplicate_umis        = true                          // boolean

    // Optional: Quantification mode
    quantification_mode     = "EM_clusters"                 // Options: "no_EM", "EM", "EM_clusters"

    // Optional: Seurat clustering
    resolution              = 0.8                           // float

    // Optional: Fusion mode  
    fusion_mode             = false                         // boolean
    
    // Optional: Compression Mode
    compress_intermediate   = true                          // boolean

    // Development parameters (DO NOT EDIT)
    qfilter_threshold       = 10
    flexiplex_f             = 8
    flexiplex_e             = 1
    jaffal_ref_dir          = null                          // null or path to directory
    jaffal_code_dir         = "$projectDir/jaffal"
    cellranger_dir          = "/opt/spaceranger-4.0.1/lib/python/cellranger/barcodes"
}

process {
    // CPU Labels
    withLabel: 'low_cpu'        { cpus = 4 }
    withLabel: 'medium_cpu'     { cpus = 16 }
    withLabel: 'high_cpu'       { cpus = 32 }

    // Memory Labels
    withLabel: 'low_mem'        { memory = '16 GB' }
    withLabel: 'medium_mem'     { memory = '64 GB' }
    withLabel: 'high_mem'       { memory = '128 GB' }

    // Time Labels
    withLabel: 'short'          { time = '1h' }
    withLabel: 'medium'         { time = '4h' }
    withLabel: 'long'           { time = '8h' }

    // CPU, Memory, and Time allocation for Bambu (Modify if necessary, especially when using pipeline for multiple samples)
    withName: 'BAMBU' { 
        cpus    = 16
        memory  = '128 GB'
        time    = '4h'
    }

    withName: 'BAMBU_EM' {
        cpus    = 16
        memory  = '128 GB'
        time    = '12h'         // increase time allocation if params.quantification_mode = EM
    }
}

profiles {
    // Container profiles

	singularity {
        singularity.enabled           = true
        singularity.autoMounts        = true
        docker.enabled                = false  
	    singularity.runOptions        = "--bind $PWD"           
        singularity.envWhitelist      = "JAVA_HOME"
        SINGULARITYENV_R_LIBS_USER    = "/usr/local/lib/R/site-library"
        SINGULARITYENV_R_ENVIRON_USER = "NULL"
    }

    docker {
        docker.enabled           = true
        docker.autoMounts        = true
        singularity.enabled      = false
	    docker.runOptions        = '-u $(id -u):$(id -g)'
    }

    arm {
            docker.runOptions = '-u $(id -u):$(id -g) --platform=linux/amd64'
        }

    hpc {
        process.executor = 'slurm' // Examples: 'slurm', 'pbs', 'sge'
    }

}