def r                   = "ghcr.io/ch99l/bambu-pipe-r:latest"
def spaceranger         = "quay.io/nf-core/spaceranger:9c5e7dc93c32448e"
def minimap2_samtools   = "community.wave.seqera.io/library/minimap2_samtools:b09096fc890429ce"
def preprocess          = "community.wave.seqera.io/library/chopper_cutadapt_flexiplex_pigz:077c3bc67452482c"

process {
    withLabel: 'r'                  { container = r }
    withLabel: 'spaceranger'        { container = spaceranger }
    withLabel: 'minimap2_samtools'  { container = minimap2_samtools }
    withLabel: 'preprocess'         { container = preprocess }
}