process {
    withLabel: 'r'                  { container = "ghcr.io/ch99l/bambu-pipe-r:latest" }
    withLabel: 'spaceranger'        { container = "quay.io/nf-core/spaceranger:9c5e7dc93c32448e" }
    withLabel: 'minimap2_samtools'  { container = "community.wave.seqera.io/library/minimap2_samtools:b09096fc890429ce" }
    withLabel: 'preprocess'         { container = "community.wave.seqera.io/library/chopper_cutadapt_flexiplex_pigz:077c3bc67452482c" }
}