process {
    withLabel: 'bambu'              { container = "ghcr.io/goekelab/bambu-pipe-bambu:1.0.0" }
    withLabel: 'seurat'             { container = "ghcr.io/goekelab/bambu-pipe-seurat:1.0.0" }
    withLabel: 'spaceranger'        { container = "quay.io/nf-core/spaceranger:9c5e7dc93c32448e" }
    withLabel: 'minimap2_samtools'  { container = "community.wave.seqera.io/library/minimap2_samtools:b09096fc890429ce" }
    withLabel: 'preprocess'         { container = "community.wave.seqera.io/library/chopper_cutadapt_flexiplex_pigz:077c3bc67452482c" }
    withLabel: 'pyarrow_pandas'     { container = "community.wave.seqera.io/library/pip_pandas_pyarrow:e60a5c578ef189b2" }
}
