// Development parameters — not intended for end users
params {
    bambu_path                  = null
    valid_chemistries           = ['10x3v2', '10x3v3', '10x3v4', '10x5v2', '10x5v3', 'visium-v1', 'visium-v2', 'visium-v3', 'visium-v4', 'visium-v5']
    valid_technologies          = ['ONT', 'PacBio']
    valid_quantification_modes  = ['no_quant', 'EM', 'EM_clusters']
    valid_early_stop_stages     = ['rds', 'bam', null]
    save_intermediates          = false
    qfilter_threshold           = 10
    flexiplex_f_5prime          = 8
    flexiplex_f_3prime          = 13
    flexiplex_e                 = 1
    process_by_chromosome       = true
    fusion_mode                 = false
    jaffal_ref_dir              = null
    jaffal_code_dir             = "$projectDir/jaffal"
    cellranger_dir              = "/opt/spaceranger-4.0.1/lib/python/cellranger/barcodes"
}
